/* ==========================================================================
   Styles for Search Form
   ========================================================================== */

input,
button {
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.search {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    max-width: 400px;
    width: 90px;
    /*height: 100%;*/
    color: #5c4b51;
    box-sizing: border-box;
    z-index: 6;
    -webkit-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(92, 75, 81, 0.1);
    box-shadow: 0px 10px 30px 0px rgba(92, 75, 81, 0.1);
}

.search .popup-container {
    position: absolute;
    top: 97px;
    /*bottom: 0;*/
    max-height: 750px;
    padding-left: 0;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(92, 75, 81, 0.1);
    box-shadow: 0px 10px 30px 0px rgba(92, 75, 81, 0.1);
}

.search .popup__heading {
    padding: 0 40px;
    font-size: 14px;
    color: #ada2a4;
}

.search.show-form.show-popup {
    /*height: auto;*/
}

.search.show-form.show-popup .popup-container {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.popup-container .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    color: #5c4b51;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.popup-container .close:hover {
    color: #f06060;
}

.search-form {
    margin: 0 auto;
    padding: 30px 40px;
    width: 100%;
    position: relative;
    background-color: #f5f4f4;
    box-sizing: border-box;
}

.search-form input {
    padding: 3px 0 12px 0;
    width: 100%;
    border-bottom: 1px solid #5c4b51;
    box-sizing: border-box;
    font-size: 16px;
    color: #5c4b51;
    visibility: hidden;
}

.search-form .btn--search {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    -webkit-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
}

.search.show-form .btn--search {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.search-form .btn--search .svg-icon {
    fill: #5c4b51;
    -webkit-transition: fill 300ms ease-in-out;
    transition: fill 300ms ease-in-out;
}

.search-form .btn--search:hover .svg-icon {
    fill: #f06060;
}

.query-words-popup {
    padding: 15px 0;
    border-bottom: 1px solid #f5f4f4;
}

.query-words {
    margin: 0;
    padding-left: 0;
    padding: 0 40px;
}

.query-words .query-word {
    padding-left: 0;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
    color: #ada2a4;
    font-size: 18px;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.query-words .query-word:hover {
    color: #5c4b51;
}

.search-results-popup {
    padding: 15px 0;
}

.search-results {
    margin: 0;
    padding: 0 40px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.search-results li {
    padding: 10px 0;
}

.search-results .result-link {
    font-family: Bitter, serif;
    font-size: 18px;
    font-weight: bold;
    color: #5c4b51;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.search-results .result-link:hover {
    color: #f06060;
}

.search-results-scroll-wrapper {
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.search-results-scroll-wrapper .scrollbar-track .thumb {
    background-color: #f5f4f4;
}

.search-results__empty {
    padding-left: 0;
}


@media (min-height: 768px) {
    .search-results-scroll-wrapper {
        max-height: 530px;
    }
}

/* -------- Show Search Form -------- */

.search.show-form {
    width: 400px;
}

.search.show-form .search-form input {
    visibility: visible;
}


/* -------- Search Form on secondary page -------- */

.secondary-page .search {
    -webkit-transform: translate3d(-100px, 20px, 0);
    transform: translate3d(-100px, 20px, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.secondary-page .search.show-form {
    width: 300px;
}

.secondary-page .search-form .btn--search {
    top: 35px;
}


@media (min-width: 769px) {
    .search {
        display: block;
    }
}